In [34]:
# read all the points from places_points, collate per tract, get neighborhood information, 
# split based on threshold

In [35]:
import pandas as pd
import seaborn as sns

In [44]:
agg_data = pd.read_csv('../data/agg_data_all.csv')

In [45]:
agg_data.colu

,month,CensusTract,TotalPop,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty,ChildPoverty,Professional,...,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,FELONY,MISDEMEANOR,VIOLATION
0,1,36005000200,5403,72034.0,13991.0,22180.0,2206.0,20.0,20.7,28.7,...,43.0,2308,80.8,16.2,2.9,0.0,7.7,1,1,0
1,1,36005000400,5915,74836.0,8407.0,27700.0,2449.0,13.2,23.6,32.2,...,45.0,2675,71.7,25.3,2.5,0.6,9.5,1,3,1
2,1,36005001600,5879,32312.0,6859.0,17526.0,2945.0,26.3,35.9,19.1,...,38.8,2120,75.0,21.3,3.8,0.0,8.7,3,0,0
3,1,36005001900,2591,37936.0,3771.0,17986.0,2692.0,37.1,31.5,35.4,...,45.4,1083,76.8,15.5,7.7,0.0,19.2,3,5,1
4,1,36005002000,8516,18086.0,3694.0,12023.0,2346.0,53.2,67.7,14.5,...,46.0,2508,71.0,21.3,7.7,0.0,17.2,0,6,3

In [48]:
agg_data

,month,CensusTract,TotalPop,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty,ChildPoverty,Professional,...,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,FELONY,MISDEMEANOR,VIOLATION
0,1,36005000200,5403,72034.0,13991.0,22180.0,2206.0,20.0,20.7,28.7,...,43.0,2308,80.8,16.2,2.9,0.0,7.7,1,1,0
1,1,36005000400,5915,74836.0,8407.0,27700.0,2449.0,13.2,23.6,32.2,...,45.0,2675,71.7,25.3,2.5,0.6,9.5,1,3,1
2,1,36005001600,5879,32312.0,6859.0,17526.0,2945.0,26.3,35.9,19.1,...,38.8,2120,75.0,21.3,3.8,0.0,8.7,3,0,0
3,1,36005001900,2591,37936.0,3771.0,17986.0,2692.0,37.1,31.5,35.4,...,45.4,1083,76.8,15.5,7.7,0.0,19.2,3,5,1
4,1,36005002000,8516,18086.0,3694.0,12023.0,2346.0,53.2,67.7,14.5,...,46.0,2508,71.0,21.3,7.7,0.0,17.2,0,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21625,12,36085030301,4895,65606.0,11825.0,29014.0,3763.0,8.7,11.1,36.9,...,47.4,2298,78.4,18.7,2.6,0.3,7.4,2,8,2
21626,12,36085030302,6279,76542.0,8095.0,25189.0,3131.0,19.0,27.8,35.8,...,46.6,2668,74.4,22.5,3.2,0.0,6.2,0,4,1
21627,12,36085031901,2550,25064.0,7879.0,12753.0,2439.0,39.3,51.4,29.7,...,38.2,710,73.8,21.8,4.4,0.0,13.8,1,6,0
21628,12,36085031902,4611,22656.0,8776.0,16303.0,2818.0,41.2,53.8,31.0,...,40.9,1308,84.7,12.6,2.7,0.0,9.4,2,4,0
21629,12,36085032300,1131,56406.0,22600.0,34261.0,10543.0,20.5,16.5,26.2,...,52.5,534,65.0,31.1,3.9,0.0,10.7,0,2,1

In [38]:
places_0 = pd.read_csv('../data/places_points/places_0.csv')

In [39]:
places_0.head()

,Unnamed: 0,Unnamed: 0.1,Latitude,Longitude,CensusTract,BlockCode,restaurants,bar,park,subway_station
0,0,0,40.493568,-74.251508,36085024402,360850244020002,3,0,0,0
1,1,1,40.493568,-74.248342,36085024402,360850244020002,3,0,0,0
2,2,2,40.493568,-74.245176,36085024402,360850244020002,3,0,0,0
3,3,3,40.493568,-74.242010,36085024402,360850244020002,3,0,0,0
4,4,4,40.493568,-74.238844,36085024402,360850244020002,3,0,0,0

In [40]:
for i in range(1, 20):
    places_i = pd.read_csv('../data/places_points/places_{}.csv'.format(i))
    places_0 = places_0.append(places_i, ignore_index=True)

In [41]:
places_0

,Unnamed: 0,Unnamed: 0.1,Latitude,Longitude,CensusTract,BlockCode,restaurants,bar,park,subway_station
0,0,0,40.493568,-74.251508,36085024402,360850244020002,3,0,0,0
1,1,1,40.493568,-74.248342,36085024402,360850244020002,3,0,0,0
2,2,2,40.493568,-74.245176,36085024402,360850244020002,3,0,0,0
3,3,3,40.493568,-74.242010,36085024402,360850244020002,3,0,0,0
4,4,4,40.493568,-74.238844,36085024402,360850244020002,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...
11705,590,11705,40.911910,-73.915930,36005030900,360050309000001,3,0,0,0
11706,591,11706,40.911910,-73.912764,36005030900,360050309000001,20,0,0,0
11707,592,11707,40.911910,-73.909598,36005030900,360050309001000,20,0,0,0
11708,593,11708,40.911910,-73.900101,36005033700,360050337002000,20,2,1,0
11709,594,11709,40.914171,-73.919095,36005030900,360050309000001,2,0,0,0

In [42]:
places = places_0[['restaurants', 'CensusTract','bar','park','subway_station']].groupby(['CensusTract']).sum()

In [43]:
places

             restaurants  bar  park  subway_station
CensusTract
36005000200          207    6    16               0
36005000400          395    7    47               0
36005001600          140    4    23               0
36005001900          626   68    66              15
36005002000          120    5    15               0
...                  ...  ...   ...             ...
36085030301          200    4     7               0
36085030302          300   12    11               0
36085031901          120    3     7               0
36085031902          266    0     9               0
36085032300          850   11    65               0

[2077 rows x 4 columns]

In [46]:
all_feats = agg_data.join(places, 'CensusTract')

In [47]:
all_feats

,month,CensusTract,TotalPop,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty,ChildPoverty,Professional,...,SelfEmployed,FamilyWork,Unemployment,FELONY,MISDEMEANOR,VIOLATION,restaurants,bar,park,subway_station
0,1,36005000200,5403,72034.0,13991.0,22180.0,2206.0,20.0,20.7,28.7,...,2.9,0.0,7.7,1,1,0,207.0,6.0,16.0,0.0
1,1,36005000400,5915,74836.0,8407.0,27700.0,2449.0,13.2,23.6,32.2,...,2.5,0.6,9.5,1,3,1,395.0,7.0,47.0,0.0
2,1,36005001600,5879,32312.0,6859.0,17526.0,2945.0,26.3,35.9,19.1,...,3.8,0.0,8.7,3,0,0,140.0,4.0,23.0,0.0
3,1,36005001900,2591,37936.0,3771.0,17986.0,2692.0,37.1,31.5,35.4,...,7.7,0.0,19.2,3,5,1,626.0,68.0,66.0,15.0
4,1,36005002000,8516,18086.0,3694.0,12023.0,2346.0,53.2,67.7,14.5,...,7.7,0.0,17.2,0,6,3,120.0,5.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21625,12,36085030301,4895,65606.0,11825.0,29014.0,3763.0,8.7,11.1,36.9,...,2.6,0.3,7.4,2,8,2,200.0,4.0,7.0,0.0
21626,12,36085030302,6279,76542.0,8095.0,25189.0,3131.0,19.0,27.8,35.8,...,3.2,0.0,6.2,0,4,1,300.0,12.0,11.0,0.0
21627,12,36085031901,2550,25064.0,7879.0,12753.0,2439.0,39.3,51.4,29.7,...,4.4,0.0,13.8,1,6,0,120.0,3.0,7.0,0.0
21628,12,36085031902,4611,22656.0,8776.0,16303.0,2818.0,41.2,53.8,31.0,...,2.7,0.0,9.4,2,4,0,266.0,0.0,9.0,0.0
21629,12,36085032300,1131,56406.0,22600.0,34261.0,10543.0,20.5,16.5,26.2,...,3.9,0.0,10.7,0,2,1,850.0,11.0,65.0,0.0

In [49]:
all_feats.to_csv('../data/crap.csv')